.container-fluid
  .row-fluid
    .span9
      .row-fluid{:style=>"font-size: 24pt;"}
        .span10
          =image_tag("DI.png")
          HDP-HyperDashboardPrimos
        .span2(style="padding:25px;")
          =Time.now.to_s(:time)
      .row-fluid
        .span9
          .row-fluid{:style=>"height:650px;"}
            =render("dashboard/widgets/tareas")
          .row-fluid
            .span6
              =render("dashboard/widgets/red_di")
            .span6
              .title
                =render("dashboard/widgets/kvm_list")
          .row-fluid
            =render("dashboard/widgets/primos_de_turno")
        .span3
          .row-fluid{:style=>"height:350px;"}
            =render("dashboard/widgets/estado_pcs")
          .row-fluid
            =render("dashboard/widgets/twitter")
          .row-fluid
            =render("dashboard/widgets/frases")
    .span3
      =render("dashboard/widgets/camaras")
