.container-fluid
  .row-fluid
    .span9
      .row-fluid{:style=>"font-size: 24pt;"}
        .span10
          =image_tag("DI.png")
          HDP-HyperDashboardPrimos
        .span2(style="padding:25px;")
          =Time.now.to_s(:time)
      .row-fluid
        .span9
          .row-fluid{:style=>"height:650px;"}
            tareas :D
          .row-fluid
            .span6
              red_di :D
            .span6
              .title
                icinga_servers :D
          .row-fluid
            primosdeturno :D
        .span3
          .row-fluid{:style=>"height:350px;"}
            icinga :D
          .row-fluid
            twitter :D
          .row-fluid
            frases :D
    .span3
      =render("dashboard/widgets/camaras")
