.container-fluid
  .row-fluid
    .content-left
      .row-fluid{:style=>"font-size: 24pt;"}
        .header-title
          =image_tag("DI.png")
        .header-time
          =Time.now.strftime("%I:%M%p")
          =Time.now.strftime("%d-%m")
      .row-fluid
        .content-main-left
          .content  
            =image_tag("tareas.png")
            .inner-content  
              %p Tareas ejemplo:
              %p - Terminar HDP
              %p - Lavar Delantales
              %p - Envíar reporte semanal a Liuva
          .content
            =image_tag("reddi.png")
            .inner-content
              red_di :D
          .content-main-left-bottom
            .content
              =image_tag("icinga_server.png")
              .inner-content
                icinga_servers :D          
            .content
              =image_tag("primos_de_turno.png")
              .inner-content
                primosdeturno :D
        .content-main-right
          .content  
            =image_tag("laboratorios.png")
            .inner-content  
              icinga :D
          .content
            =image_tag("twitter.png")
            .inner-content
              twitter :D
          .content
            =image_tag("frase.png")
            .inner-content
              frases :D
    .content-right
      =render("dashboard/widgets/camaras")
