.title
  Tareas en Code:
.span3  
  %ul.nav.nav-pills.nav-stacked
    -@tareas.each do |t|
      %li(id="#{t['id']}_tab") 
        %a{:href=>"#"}
          =t['subject']     
.span8
  -@tareas.each do |t|
    %div(id="#{t['id']}_content")  
      %h3=t['subject']+ t['id'].to_s
      %pre=t['description']
      %table.table-condensed
        -t['journals'].each do |journal|
          -unless journal['notes']==""
            %tr
              %td="("+time_ago_in_words(journal['created_on'])+")"
              %td=journal['user']['name']+":"
              %td=journal['notes']